<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid d-flex justify-content-start">
    <%= link_to wallets_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-book"></i>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Home", wallets_path, class: "nav-link px-3" %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link px-3" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link px-3" %>
    <% end %>
  </div>
</nav>
