<div class="container">
  <h1>choose Wallet</h1>
  <div>
    <ul>
      <% @wallets.each do |wallet| %>
        <li class="list-group-item">
          <%= link_to "Wallet #{wallet.id}", wallet_path(wallet) %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to "Add another Wallet", new_wallet_path, class: 'btn btn-primary' %>
</div>
