<div class="container">
  <h1 class='mt-3'>My Budget Planner</h1>
  <div class="row mt-3">
    <div class="col-sm">
      <div class="alert alert-secondary"><span>Budget: 짜 </span></div>
    </div>
    <div class="col-sm">
      <div class="alert alert-success"><span>Remaining: 짜 </span></div>
    </div>
    <div class="col-sm">
      <div class="alert alert-primary"><span>Spent so far: 짜 </span></div>
    </div>
  </div>

  <h3 class="mt-3">Expenses</h3>
  <div class="container mt-3">
    <div>
      <ul>
        <% @items.each do |item| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= item.category %> : <%= item.title %> 짜 <%= item.cost %>
          </li>
        <% end %>
      </ul>
      <h3 class="mt-3">Add Expense</h3>
      <%= link_to "+ New Item", new_item_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
